// FONTS ------------------
$popins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;


// COLORS ----------------
$white-f: #FFF;
$white_bg: #F8F8F8;
$white_details: #FEFEFE;
$gradient: linear-gradient(139.44deg, #485BFF 0%, #FF59F8 96.19%);
$purple: #835AFD;
$pink-light: #D67EE2;
$pink-dark: #E559F9;
$danger:  #E73F5D;
$gray-light: #737380;
$gray-medium: #737380;
$gray-dark: #737380;
$black: #29292E;
$shadow: #050206;

// COLORS HOVER ------------
$purple_hover: #6F4BD8;
$danger_hover: #D73754;
$gray_medium_hover: #7E7E86;
$gray_light_hover: #CECECE;
